export AZURE_SUBSCRIPTION_ID=<your_subscription_id>
export RESOURCE_GROUP=<your_resource_group>
export LOCATION=<your_location>
export COSMOS_GREMLIN_HOST=<your_cosmos_db_account_name>
export COSMOS_GREMLIN_ENDPOINT=<your_cosmos_db_gremlin_uri>
export COSMOS_GREMLIN_DATABASE=<your_cosmos_db_database_name>
export COSMOS_GREMLIN_GRAPH=<your_cosmos_db_graph_name>
export COSMOS_GREMLIN_PRIMARY_KEY=<your_cosmos_db_primary_key>
